.App {
  text-align: center;
  color: white;
  background-color: rgb(7, 7, 179);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table > tbody {
  vertical-align: middle !important;
}
.App-link {
  color: #61dafb;
}

thead {
  background-color: rgb(255, 0, 174);
}

.th-btn {
  width: 18%;
}

table {
  width: 100%;
  margin-bottom: 0.5em;
  table-layout: fixed;
  text-align: center;
}

div > input {
  margin-top: 5px;
}

.search {
  justify-content: flex-start;
  padding-bottom: 20px;
}

